<div class="container-fluid fullHeight">
<div class="haze row fullHeight">
	<div class="stdInner">
		<h1><i>The Boiler Room</i></h1>
		<h2>Utilities</h2>
		<p>Use these links to edit the content.  The edited content can be exported to .json.  C++ header files can be auto-formated... sort of.  Paste .h code into editor.</p>
		<ul>
			<li><a [routerLink]="['/editorblog']">Blog Editor</a></li>
			<li><a [routerLink]="['/editorexplorer']">Explorer Editor</a></li>
		</ul>
		<h2>Page Construction Information</h2>
	</div>
</div>
</div>