<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
<div class="navbar-brand"><i>{{title}}</i></div>
    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/libraries" routerLinkActive="active">Libraries</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/programminginfo" routerLinkActive="active">The Boiler Room</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
	</ul>
</nav>
<router-outlet></router-outlet>
