<div class="blog-cell">
	<div class="">
		<span *ngIf="editing == false"> 
			<h3>{{blogPost.title}}</h3>
			<i>{{blogPost.date}}</i>
			<div *ngFor="let line of blogPost.body">
			<div [innerHTML]="line"></div>
			</div>
		</span>
		<div *ngIf="editing == true" style="height:100%">
			<div class="container-fluid fullHeight" style="width:100%">
				<div class="row" style="padding:2px">
					<span style="width:50px"><strong style="vertical-align: middle">Title:</strong></span>
					<span style="width:80%"><input style="width:80%" [(ngModel)]="blogPost.title" placeholder="empty"/></span>
				</div>
				<div class="row" style="height:50%">
					<textarea [(ngModel)]="postString" style="height:100%"></textarea>
				</div>
			</div>
		</div>
		<div class="rightButton">
			<span *ngIf="editing == false" (click)="edit()" style="font-size: 30px;" class="glyphicon glyphicon-pencil"></span>
			<span *ngIf="editing == true" (click)="save()" style="font-size: 30px;" class="glyphicon glyphicon-arrow-left"></span>
			<span *ngIf="editing == false" style="color: #dddddd; font-size: 30px;"  class="glyphicon glyphicon-new-window"></span>
			<span *ngIf="editing == true" (click)="download()" style="font-size: 30px;"  class="glyphicon glyphicon-new-window"></span>
		</div>
	</div>
</div>