<div class="container blog-entry-container" style="width:100%">
	<div class="row">
		<div *ngIf="editing == false" class="col stdInner">
			<h1>{{blogPost.title}}</h1>
			<i style="padding-left: 20px">{{blogPost.date}}</i>
			<div *ngFor="let line of blogPost.body">
			<div [innerHTML]="line | safeHtml"></div>
			</div>
		</div>
		<div *ngIf="editing == true" class="col edit-height" style="width:100%">
			<table style="width:100%">
				<tr>
					<td style="width:100px"><strong style="vertical-align: center">Title:</strong></td>
					<td><input style="width:100%" [(ngModel)]="blogPost.title" placeholder="empty"/></td>
				</tr>
				<tr>
					<td>
						Date:
					</td>
					<td>
						<input type="Date" [(ngModel)]="blogPost.date">
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding-top:10px"><textarea class="edit-body" [(ngModel)]="postString"></textarea></td>
				</tr>
			</table>
		</div>
		<div *ngIf="editable" class="rightButton">
			<span *ngIf="editing == false" (click)="edit()" style="font-size: 30px;" class="glyphicon glyphicon-pencil"></span>
			<span *ngIf="editing == true" (click)="save()" style="font-size: 30px;" class="glyphicon glyphicon-arrow-left"></span>
			<span *ngIf="editing == false" style="color: #dddddd; font-size: 30px;"  class="glyphicon glyphicon-new-window"></span>
			<span *ngIf="editing == true" (click)="downloadFile()" style="font-size: 30px;"  class="glyphicon glyphicon-new-window"></span>
		</div>
	</div>
</div>
