<div class="blog-cell">
	<div class="">
		<span *ngIf="editing == false"> 
			<h3>{{blogPost.title}}</h3>
			<i>{{blogPost.date}}</i>
			<div *ngFor="let line of blogPost.body">
			<div [innerHTML]="line"></div>
			</div>
		</span>
		<div *ngIf="editing == true" style="height:100%">
			<div class="container-fluid fullHeight" style="width:100%">
				<div class="row" style="padding:2px">
					<span style="width:50px"><strong style="vertical-align: middle">Title:</strong></span>
					<span style="width:80%"><input style="width:80%" [(ngModel)]="blogPost.title" placeholder="empty"/></span>
				</div>
				<div class="row" style="height:50%">
					<textarea [(ngModel)]="postString" style="height:100%"></textarea>
				</div>
			</div>
		</div>
		<span *ngIf="editing == false" class="rightButton" width="100%"><button (click)="edit()">Edit</button></span>
		<span *ngIf="editing == true" class="rightButton" width="100%"><button (click)="save()">Save</button></span>
	</div>
</div>