<div><app-blog-entry [blogPost]="post1"></app-blog-entry></div>
<!--
<div><app-blog-entry [blogPost]="post2"></app-blog-entry></div>
<div><app-blog-entry [blogPost]="post3"></app-blog-entry></div>
<div><app-blog-entry [blogPost]="post4"></app-blog-entry></div>
<p>
  blog works!
</p>
{{thing.date}}

<h3>Atmel 328P</h3>
<p>Through hole ATMEGA328P<br>
uC used in the Arduino<br>
32kb flash, 1k EEPROM, 2k SRAM</p>
<p><a href="http://www.sparkfun.com/datasheets/Components/SMD/ATMega328.pdf">Datasheet</a></p>
<h4>SparkFun Products</h4>
<ul>
<li><a href="https://www.sparkfun.com/products/9061">Storefront component: AVR 28 Pin 20MHz 32K 6A/D - ATMega328P</a> (COM-09061)</li>
<li><a href="https://www.sparkfun.com/products/10547">SparkFun Simon Says - Through-Hole Soldering Kit</a> (KIT-10547)</li>
<li><a href="https://www.sparkfun.com/products/13708">SparkFun Learn to Solder - Simon Says</a> (KIT-13708)</li>
<li><a href="https://www.sparkfun.com/products/11734">SparkFun BigTime Watch Kit</a> (KIT-11734)</li>
<li><a href="https://www.sparkfun.com/products/10930">SparkFun ClockIt</a> (KIT-10930)</li>
<li><a href="https://www.sparkfun.com/products/10097">SparkFun Serial Enabled LCD Kit</a> (LCD-10097)</li>
<li><a href="https://www.sparkfun.com/products/12634">SparkFun Simon Tilts - Through Hole Soldering Kit</a> (KIT-12634)</li>
<li><a href="https://www.sparkfun.com/products/10140">SparkFun Frequency Counter Kit</a> (KIT-10140)</li>
<li><a href="https://www.sparkfun.com/products/11043">FabFM Radio Kit</a> (KIT-11043)</li>
<li><a href="https://www.sparkfun.com/products/12037">SparkFun Binary Blaster Kit</a> (KIT-12037)</li>
<li><a href="https://www.sparkfun.com/products/9236">SparkFun Metro-Gnome</a> (KIT-09236)</li>
<li><a href="https://www.sparkfun.com/products/10524">ATmega328 with Arduino Optiboot (Uno)</a> (DEV-10524)</li>
</ul>





-->
