<!--<div class="blog-cell">
	<div class="">
		<div class="rightButton">
	
	
	hello-->
<app-blog-timeline></app-blog-timeline>
<div *ngFor="let post of posts">
	<div><app-blog-entry [blogPost]="post" [editable]="false"></app-blog-entry></div>
	<hr>
</div>
<!--
		<svg viewBox="0 0 250 250">
  <polygon fill="red" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" />
  <polygon fill="green" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30" />
  <path stroke="black" fill="yellow" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
      L125,52.1z M142,135.4H108l17-40.9L142,135.4z"/>
</svg>

				<polygon stroke-width="1" stroke="red" fill="none" points="195,5 295,5 295,55 195,55 195,5" />


<p>
  blog works!
</p>
{{thing.date}}

<h3>Atmel 328P</h3>
<p>Through hole ATMEGA328P<br>
uC used in the Arduino<br>
32kb flash, 1k EEPROM, 2k SRAM</p>
<p><a href="http://www.sparkfun.com/datasheets/Components/SMD/ATMega328.pdf">Datasheet</a></p>
<h4>SparkFun Products</h4>
<ul>
<li><a href="https://www.sparkfun.com/products/9061">Storefront component: AVR 28 Pin 20MHz 32K 6A/D - ATMega328P</a> (COM-09061)</li>
<li><a href="https://www.sparkfun.com/products/10547">SparkFun Simon Says - Through-Hole Soldering Kit</a> (KIT-10547)</li>
<li><a href="https://www.sparkfun.com/products/13708">SparkFun Learn to Solder - Simon Says</a> (KIT-13708)</li>
<li><a href="https://www.sparkfun.com/products/11734">SparkFun BigTime Watch Kit</a> (KIT-11734)</li>
<li><a href="https://www.sparkfun.com/products/10930">SparkFun ClockIt</a> (KIT-10930)</li>
<li><a href="https://www.sparkfun.com/products/10097">SparkFun Serial Enabled LCD Kit</a> (LCD-10097)</li>
<li><a href="https://www.sparkfun.com/products/12634">SparkFun Simon Tilts - Through Hole Soldering Kit</a> (KIT-12634)</li>
<li><a href="https://www.sparkfun.com/products/10140">SparkFun Frequency Counter Kit</a> (KIT-10140)</li>
<li><a href="https://www.sparkfun.com/products/11043">FabFM Radio Kit</a> (KIT-11043)</li>
<li><a href="https://www.sparkfun.com/products/12037">SparkFun Binary Blaster Kit</a> (KIT-12037)</li>
<li><a href="https://www.sparkfun.com/products/9236">SparkFun Metro-Gnome</a> (KIT-09236)</li>
<li><a href="https://www.sparkfun.com/products/10524">ATmega328 with Arduino Optiboot (Uno)</a> (DEV-10524)</li>
</ul>





-->
