.home {
    padding: 0;
    font-size: 100%;
	font-family: Georgia, serif;
	margin: 0;
}

.title {
	height: 100px;
}

.title  h1{
	position: absolute;
    font-size: 2.8em;
	color: #46007c;
	line-height: 0em;
	font-style: italic;
	margin-left: 60px;
	margin-top: 30px;

}

.title  h3{
	position: absolute;
	line-height: 0em;
	font-style: italic;
	margin-left: 230px;
	margin-top: 70px;

}

.callout {
    font-size: 1.7em;
	line-height: 1.3em;
	font-style: bold;
}
