<h3>Info</h3>
<p>
  This page made with Angular2 and Bootstrap
</p>
<h3>Demo</h3>
<p>Currently, json data from /assets is used to populate the explorer.
</p>
<p>In the future this might be done with a database.  To demonstrate how it is flexible, swap <i>"assets/carIndex.json"</i> to <i>"assets/indexTemplate.json"</i> within <i>"api-data.service.ts"</i>, and the thing will be populated with a template of data.
</p>
<p>
  <ngb-alert [dismissible]="true">
    <strong>Warning!</strong> This can be dismissed?
  </ngb-alert>
</p>

