<div class="haze">
	<div class="home haze intro-2">
		<div class="container">
			<div class="jumbotron">
				<img src="assets/Eggplant_square_100.png" alt="logo" width="180px" align="left">
				<h3>Featured Project</h3>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor felis, maximus in elit nec, fermentum sodales mauris. Vestibulum interdum lorem ac quam malesuada, ac viverra massa bibendum. Nullam vel urna sodales, placerat ipsum sit amet, rutrum mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta consectetur malesuada. Etiam pellentesque dui sed eros ultricies rhoncus. Nunc imperdiet ante scelerisque diam aliquet. </p>
			</div>
			<div class="jumbotron">
				<img src="assets/Eggplant_square_100.png" alt="logo" width="180px" align="left">
				Text here here's some text<br>
				Text here here's some text<br>
				Text here here's some text<br>
			</div>
			<div class="jumbotron">
				<img src="assets/Eggplant_square_100.png" alt="logo" width="180px" align="left">
				Text here here's some text<br>
				Text here here's some text<br>
				Text here here's some text<br>
			</div>
			<div class="jumbotron">
				<img src="assets/Eggplant_square_100.png" alt="logo" width="180px" align="left">
				Text here here's some text<br>
				Text here here's some text<br>
				Text here here's some text<br>
			</div>
		</div>
		<hr class="bar">
		<div class="home title">
			<h1>electrofeels.com</h1>
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;make it cry.</h3>
		</div>
		<div class="stdInner">
			<h2>Misson statement:</h2>
			<p>
			Building resources to bring emotion to electronic instruments, and to provide kits and products for musicians and hobbyists.
			</p>
		</div>
		<div class="haze" style="height:50px;">&nbsp;</div>
	</div>
</div>
