<!--The content below is only a placeholder and can be replaced.-->
<div id="fullWindow">
	<div id="wrap">
	<table class="fullWidth fullHeight">
		<tr id="topPane">
			<td colspan="2">
			<h1 id="title"><i>Q-Blocks Utility</i></h1>
			</td>
		</tr>
		<tr>
			<td id="leftPane">
			<app-esp32-controller></app-esp32-controller>
			<app-settings-container></app-settings-container>
			</td>
			<td id="rightPane">
			<app-data-viewer></app-data-viewer>
			</td>
		</tr>
	</table>
	</div>
</div>
<span class="terminalWindow">
	<div style="text-align: left">
		<app-status-tool></app-status-tool>
	</div>
</span>
<!--

	<div id="leftPane">text
	</div>
	<div id="rightPane">text
	</div>
-->