.twistylist {
  cursor: default;
  padding: 8px 0 0 8px;
  vertical-align:middle;
}

.list-align{
	display:inline;
	vertical-align: 0px;
}

.twistylist li:hover {
	background-color: #c49ae0;
	border-radius: 4px 0px 0px 4px;
}

.twistylist li.selected:hover{
	background-color: #b17ed3;
	border-radius: 4px 0px 0px 4px;
}

.twistylist .item {
  list-style-type: none;
  padding: 0 0 0 4px;
}

.twistylist .subitem {
  list-style-type: none;
  padding: 0 0 0 20px;
}

.twistylist .subsubitem {
  list-style-type: none;
  padding: 0 0 0 40px;
}

.clickable {
  cursor: pointer;
}

.selected {
	background-color: #dcb4f7;
	border-radius: 4px 0px 0px 4px;
	
}

.purple {
  background-color: #e0c9ef;
}

.fullHeight{
	height: 100%;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.debug {
    border: 3px solid red;
}