.twistylist {
  //background-color: #607D8B;
  list-style-type: none;
  cursor: default;
  padding: 0 0 0 0;
}

.twistylist .subitem {
  list-style-type: none;
  padding: 0 0 0 16px;
}

.clickable {
  cursor: pointer;
}

.selected {
	background-color: #dcb4f7;
}